.root {
  padding: 1.5rem 7.75rem 1rem;
  text-align: left;
}

.root > h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 2.5rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.filters > .groupButton {
  display: flex;
  align-items: center;
}

.groupButton > button:not(:last-child) {
  margin-right: 1rem;
}

.activeButton {
  display: flex;
  align-items: center;
}

.activeButton > img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0;
}

.galleries > div {
  flex: 23.99%;
  max-width: 23.99%;
}

.galleries > div > img {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .root {
    margin-top: 80px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
  }

  .root > h3 {
    font-size: 40px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 40px;
  }
  
  .filters {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .filters > div {
    padding: 0 40px;
    width: fill;
  }
  
  .filters > .groupButton {
    display: flex;
    align-items: center;
    margin-top: 32px;
    overflow: auto;
    padding: 0 40px;
    padding-bottom: 20px;
  }
  
  .groupButton > button:not(:last-child) {
    margin-right: 16px;
  }

  .activeButton {
    display: flex;
    align-items: center;
  }
  
  .activeButton > img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .galleries {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 0;
  }

  .galleries > div {
    flex: 47.5%;
    max-width: 47.5%;
  }
  
  .galleries > div > img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
  }
}