.root {
  padding: 1.5rem 7.75rem 1rem;
  text-align: left;
}

.root > h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 2.5rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.filters > .groupButton {
  display: flex;
  align-items: center;
}

.groupButton > button:not(:last-child) {
  margin-right: 1rem;
}

.activeButton {
  display: flex;
  align-items: center;
}

.activeButton > img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0;
}

.galleries > div {
  flex: 23.95%;
  max-width: 23.95%;
}

.galleries > div > img {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.preview {
  width: 40vw;
}

.preview > img {
  width: 40vw;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: var(--gray-25);
}

.preview > div {
  padding: 1rem;
  background-color: var(--gray-25);
  width: fill;
  border-radius: 0 0 0.25rem 0.25rem;
}

.preview > div > h4 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
}

.preview > div > p {
  font-family: 'Avenir', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.5rem;
}

.preview > div > div {
  display: flex;
  align-items: center;
}

.preview > div > div > div {
  display: flex;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--gray-600);
  color: var(--gray-600);
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.preview > div > div > div > p {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .root {
    margin-top: 80px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
  }

  .root > h3 {
    font-size: 40px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 40px;
  }
  
  .filters {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .filters > div {
    padding: 0 40px;
    width: fill;
  }
  
  .filters > .groupButton {
    display: flex;
    align-items: center;
    margin-top: 32px;
    overflow: auto;
    padding: 0 40px;
    padding-bottom: 20px;
  }
  
  .groupButton > button:not(:last-child) {
    margin-right: 16px;
  }

  .activeButton {
    display: flex;
    align-items: center;
  }
  
  .activeButton > img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .galleries {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 0;
  }

  .galleries > div {
    flex: 47.14%;
    max-width: 47.14%;
  }
  
  .galleries > div > img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .preview {
    width: 77.78vw;
  } 

  .preview img {
    width: 77.78vw;
  }

  .preview > div {
    width: fill;
  }
}