.root {
  margin-top: 1.5rem;
  padding: 1rem 7.75rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root > img {
  height: 4.5rem;
  width: 7.5rem;
}

.menuBar {
  display: flex;
}

.menuBar > button:not(:last-child) {
  margin-right: 0.5rem;
}