body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(7.14deg, #FFF5F1 2.43%, #FFFFFF 85.42%, #FCE6DD 100.1%) !important;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./assets/AvenirBook.otf) format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url(./assets/Comfortaa.ttf) format('truetype');
}